 
/* 勤怠編集画面 */

.sun {
  color: red;
}

.sat {
  color: blue;
}

/* 出勤中社員一覧 */

.at-work-table {
  tr>td{
    text-align: center;
    //font-weight: bold;
  }
}

/* 残業申請モーダルウィンドウ */

.title-center {
  text-align: center;
}

/* 基本情報編集モーダルウインドウ */

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}