 
/* 勤怠編集画面 */
/*
.btn-cancel {
  width: 180px;
}

.btn-save {
  width: 180px;
}
*/
.sun {
  color: red;
}

.sat {
  color: blue;
}

/* 出勤中社員一覧 */

.at-work-table {
  tr>td{
    text-align: center;
    //font-weight: bold;
  }
}
/*
  tr>td.work-time {
    vertical-align: bottom;
  }
  tr>td.basic-time {
    vertical-align: bottom;
  }
  tr>td.first-day {
    vertical-align: bottom;
  }
}
*/