 
/* 勤怠編集画面 */

.sun {
  color: red;
}

.sat {
  color: blue;
}

/* 出勤中社員一覧 */

.at-work-table {
  tr>td{
    text-align: center;
    //font-weight: bold;
  }
}

/* 残業申請モーダルウィンドウ 残業申請承認モーダルウィンドウ */

.title-center {
  text-align: center;
}

.center {
  float: center;
  margin-bottom: 30px;
}

.btn-overtime_application {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 20%;
}

.btn-overtime_approval {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 20%;
}

/* 基本情報編集モーダルウインドウ */

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}
