/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}

.user-table {
  tr>td{
    text-align: middle;
    //font-weight: bold;
  }
  tr>td.work-time {
    vertical-align: bottom;
  }
  tr>td.basic-time {
    vertical-align: bottom;
  }
  tr>td.first-day {
    vertical-align: bottom;
  }
}

.btn-users-show {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ユーザー勤怠情報テーブル */

#table-attendances{
  th {
    font-weight: normal;
    text-align: center;
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
  tr>th.bottom{
    vertical-align: bottom;
  }
  tr>td.total_working_times {
  vertical-align: top;
  }
}

.btn-attendance {
  width: 100%;
}

.sun {
  color: red;
}

.sat {
  color: blue;
}

.request {
  margin-top: 10px;
}

.g-nav1{
  display:inline-flex;
  list-style-type: none;
  padding:0;
  color: red;
  font-weight: bold;
  border: solid 2px red;
}
.g-nav2{
  display:flex;
  width:auto;
  margin:10px;
  padding:10px;
  align-items:center;
  justify-content: center;
}


/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

/* ユーザー一覧ページ */

.csv-button {
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.file_field {
  width: 300px;
  border: thin solid;
}

.button-delete {
  width: 60px;
}

.div-button-edit {
  border-radius: 5px;
  margin-bottom: 10px;
}

.user-name {
  margin-top: 15px;
  margin-bottom: 5px;
}

.button-edit {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100px;
}

.panel-content {
  margin-left: 10px;
}


/* 基本情報の更新 */

.label-basic-info--edit {
  margin-top: 5px;
}

.btn-basic-info--edit {
  margin-top: 10px;
}
