<% provide(:class_text, 'attendance-change-approval') %>
<% provide(:button_text, '更新') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <%= form_with(model: @attendancesc, url: attendances_overtime_approval_user_path(current_user.id, date: @first_day.to_date), local: true, method: :patch)  do |f| %>
      <% for n in 0..(@user_id_number_c-1) do %>
        <% i = @count_max_sum_c[n] %>
        <% user = User.find(@attendancesc[i].user_id) %>
        <div class="modal-header">
          <h3 class="modal-title title-center">【<%= user.name %>からの勤怠変更申請】</h3>
        </div>
        <div class="modal-body">
          <div>
            <table class="table table-bordered table-striped table-condensed table-hover" style="table-layout:fixed" id="table-attendances">
              <thead>
                <colgroup>
                  <col style='width:20px;'>
                  <col style='width:20px;'>
                  <col style='width:10px;'>
                  <col style='width:10px;'>
                  <col style='width:10px;'>
                  <col style='width:10px;'>
                  <col style='width:10px;'>
                  <col style='width:10px;'>
                  <col style='width:10px;'>
                  <col style='width:10px;'>
                  <col style='width:100px;'>
                  <col style='width:30px;'>
                  <col style='width:15px;'>
                  <col style='width:30px;'>
                </colgroup>
                <tr>
                  <th rowspan="3" class="bottom">日付</th>
                  <th rowspan="3" class="bottom">曜日</th>
                  <th colspan="4">変更前</th>
                  <th colspan="4">変更後</th>
                  <th rowspan="3" class="bottom">備考</th>
                  <th rowspan="3" class="bottom">指示者確認</th>
                  <th rowspan="3" class="bottom">変更</th>
                  <th rowspan="3" class="bottom">勤怠を確認する</th>
                </tr>
                <tr>
                  <th colspan="2">出社</th>
                  <th colspan="2">退社</th>
                  <th colspan="2">出社</th>
                  <th colspan="2">退社</th>
                </tr>
                <tr>
                  <th>時</th>
                  <th>分</th>
                  <th>時</th>
                  <th>分</th>
                  <th>時</th>
                  <th>分</th>
                  <th>時</th>
                  <th>分</th>
                </tr>
              </thead>
              <tbody>
                <% for m in 0..@count_max_c[n]-1 do %>
                  <% i = @count_max_sum_c[n] + m %>
                    <tr>
                      <td>
                        <%= l(@attendancesc[i].worked_on, format: :short) %>
                      </td>  
                      <td>
                        <%= $days_of_the_week[@attendancesc[i].worked_on.wday] %>
                      </td>    
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                <% end %>    
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
